* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */

main {
  height: 100%;
  border-top: 8px solid hsl(0deg, 0%, 30%);
  background-color: hsl(0deg, 0%, 60%);
}

.intro-chunk {
  width: 50%;
}

.max-width-wrapper {
  width: fit-content;
  max-width: 650px;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}

.card {
  background: hsl(0deg, 0%, 100%);

  margin-top: 64px;
  padding: 1px 8px;
  border-bottom: 8px solid hsl(0deg, 0%, 30%);
}

.indented-heading {
  width: fit-content;
  background: hsl(45deg, 100%, 50%);
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
  padding: 16px;
  padding-left: 32px;
  margin-top: 8px;
  margin-left: -16px;
}

p {
  padding-left: 16px;
}

h1,
h2 {
  padding-left: 16px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}
